header {
  background-color: #eff0f2;
}
.header {
  height: 100vh;
  padding: 6.4rem 0 19.5rem;
  @include flexSpaceBetween;
  flex-direction: column;
  text-align: center;

  &__title {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 5.5rem;
    color: #505050;
    text-shadow: 0px 9px 10px #0000003d;
    @include uppercase;
  }

  &__title h2 {
    letter-spacing: 1.9px;
    padding-bottom: 1.3rem;
    padding-left: 1.3rem;
    display: inline-block;
  }
  &__title h1 {
    letter-spacing: 2px;
    padding-left: 0.4rem;
  }
  &__title_blue-background {
    background-color: $bluelight;
    padding: 0 0.8rem;
    text-shadow: 5px 5px 3px $bluedark;
    line-height: 0.622;
    letter-spacing: 1.9px;
    margin-left: -0.7rem;
  }
  &__title--backBlue:last-child {
    margin-right: -0.8rem;
  }
  &__contact {
    position: relative;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #777879;
    padding: 1.1rem 4.3rem 1rem;
    font-size: 1.8rem;
    color: #000000bf;
    line-height: 1.556;
    letter-spacing: 2px;
    font-weight: 700;
    font-weight: bold;
    @include uppercase;
  }

  &__link:hover {
    opacity: 0.5;
    transition: 0.4s;
  }
  &__glass {
    position: absolute;
    top: 1.8rem;
    right: 8.8rem;
    z-index: 1;
  }
}

.logo {
  text-align: left;
  display: inline-block;

  &:hover {
    transform: translate(3px, 3px);
    transition: 0.5s;
  }

  &__text {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 700;
    color: $black;
    font-family: "Montserrat";
    border: 5.5px solid $black;
    padding: 0.85rem 0.7rem 0.6rem 0.8rem;
    text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
    letter-spacing: 0.8px;
    box-shadow: inset 0px 0px 2px #170f1c;
    @include uppercase;
  }

  &__letter {
    font-size: $fontSize-l;
    color: $blue;
  }
}

@include screen-xxl {
  .header__title {
    font-size: $fontSize-xxl;
  }
}
@include screen-xl {
  .header__title {
    font-size: 3.5rem;
  }
  .header__title h1 {
    padding-left: 0;
  }
}
@include screen-l {
  .header__title h1 {
    line-height: 1.8;
  }
}
@include screen-m {
  .header__title {
    font-size: $fontSize-xl;
  }
  .header__title h2 {
    padding-left: 0;
  }
  .header__title h1 {
    line-height: 2;
  }
  .header__glass {
    right: calc(50% - 45px);
    top: 9rem;
  }
  .logo {
    text-align: center;
  }
}
@include screen-s {
  .header {
    padding: 3rem 0 15rem;

    &__title h1 {
      padding-top: 0;
    }
    &__title {
      font-size: 2.5rem;
    }
  }
}
@include screen-xs {
  .header__title {
    font-size: 1.9rem;
  }
  .header__title h1 {
    line-height: 2.2;
  }
}
