html {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  font-size: 10px;
}

@import "./_stylesheet";
@import "./_reset";
@import "./constants";
@import "./_mixin";
@import "./_colors";
@import "./_header";
@import "./_modal";
@import "./_footer";

html {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  font-size: 10px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@include screen-xxl {
  .container {
    width: 1024px;
  }
}
@include screen-xl {
  .container {
    width: 900px;
  }
}
@include screen-l {
  .container {
    width: 768px;
  }
}
@include screen-m {
  .container {
    max-width: calc(100% - 30px);
    padding: 0;
  }
}

/*------------------- section about-------------------*/

.title {
  @include uppercase;
  &__main {
    font-size: 3.8rem;
    color: $black;
    font-weight: bold;
    padding-bottom: 1rem;
    letter-spacing: 1.5px;
  }
  &__text {
    color: #5e5f5f;
    font-family: "Merriweather";
    font-size: 1.7rem;
    letter-spacing: 1.2px;
  }
  &__text_wide {
    letter-spacing: 1.9px;
  }
}

@include screen-m {
  .title__main,
  .title__text {
    line-height: 1.5;
    letter-spacing: 1.2px;
  }
}
@include screen-xs {
  .title__main {
    font-size: $fontSize-xl;
  }
}

.about {
  padding: 12.5rem 0 16.5rem 0;
  text-align: center;
  background-color: $white;

  &__content {
    padding-top: 12.2rem;
    display: flex;
    justify-content: space-around;
  }
  &__img {
    margin-left: 3.3rem;
  }
  &__description {
    width: 490px;
    text-align: left;
    padding-top: 2.9rem;
    margin-left: 8.5rem;
  }
  &__description-title {
    @include merriweatherBold;
    font-size: $fontSize-l;
    padding-bottom: 2.3rem;
    letter-spacing: 1.4px;
    @include uppercase;
  }
  &__description-text {
    font-family: "Raleway";
    font-size: 1.6rem;
    line-height: 1.75;
    padding-bottom: 2.7rem;
    letter-spacing: 0.8px;
    color: #929393;
  }

  &__description-subtitle {
    @include merriweatherBold;
    font-size: 1.7rem;
    padding: 0.7rem 0 1.8rem;
    letter-spacing: 1.2px;
    @include uppercase;
  }
}

@include screen-xxl {
  .about__img {
    margin: 0;
  }
  .about__description {
    margin: 0;
  }
}
@include screen-xl {
  .about__content {
    justify-content: space-between;
    padding-top: 5rem;
  }
  .about__img {
    max-width: 400px;
  }
  .about__description {
    max-width: 400px;
  }
  .about__description-title {
    line-height: 1.5;
  }
}
@include screen-m {
  .about {
    padding: 7rem 0 0;

    &__content {
      padding-top: 3rem;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@include screen-xs {
  .about__img {
    width: 100%;
  }
  .about__description {
    width: 100%;
  }
  .about__description-title {
    text-align: center;
  }
  .about__description-subtitle {
    text-align: center;
  }
  .about__description-text {
    text-align: justify;
  }
}
/* ------- Next section work  ------------*/

.work {
  padding: 10rem 0 11rem 0;
  text-align: center;

  &__content {
    padding-top: 12rem;
    @include flexSpaceBetween;
    flex-wrap: wrap;
  }
  &__img {
    margin-bottom: 1.3rem;
    transition: 1s;
  }
  &__img:hover {
    transform: scale(1.05);
  }
}
@include screen-big {
  .work__content {
    justify-content: center;
  }
  .work__img {
    margin: 0.6rem;
  }
}

@include screen-l {
  .work__img {
    max-width: 300px;
  }
}
@include screen-m {
  .work {
    padding: 7rem 0;

    &__content {
      padding: 6rem 0 0;
    }
    &__img {
      max-width: 370px;
    }
  }
}

@include screen-xs {
  .work {
    padding: 4rem 0;

    &__content {
      padding: 2rem 0 0;
    }
    &__img {
      width: 100%;
    }
  }
}
@include screen-small {
  .work__content {
    display: block;
    margin: 0;
  }
  .work__img {
    width: 100%;
    margin: 0.5rem 0;
  }
}

/* ---------Next section team-----------*/

.team {
  padding: 9.4rem 0 19rem 0;
  text-align: center;
  background-color: $white;

  &__content {
    padding-top: 12.2rem;
    padding-right: 0.1rem;
    @include flexSpaceBetween;
    flex-wrap: wrap;
  }
  &__inner {
    position: relative;
  }
  &__inner:hover .person {
    opacity: 1;
    transition: 0.4s;
  }
  &__img {
    margin-bottom: 1.4rem;
  }
}

.person {
  opacity: 0;
  position: absolute;
  padding: 2.8rem 3.7rem 4.5rem;
  background-color: $blue;
  left: 17px;
  bottom: 28px;
  right: 17px;
  top: 184px;
  text-align: left;
  box-shadow: 0px 7px 16px 0px #1414152e;

  &::before {
    background: url(../images/shape.png) no-repeat;
    content: "";
    position: absolute;
    top: -17px;
    left: 12px;
    width: 40px;
    height: 40px;
  }
  &__name {
    padding: 1.4rem 0 1.9rem 0.2rem;
    @include merriweatherBold;
    font-size: $fontSize-l;
    letter-spacing: 1.2px;
  }
  &__name span {
    font-weight: 400;
    color: $gray;
    font-size: $fontSize-m;
    letter-spacing: 0.7px;
    font-style: italic;
    margin-left: -0.1rem;
  }
  &__info {
    font-size: $fontSize-m;
    padding-bottom: 3.6rem;
    line-height: 1.55;
    color: #000000cc;
  }
  &__link {
    padding: 0 0.3rem;
  }
  &__img {
    transition: 0.5s;
    height: 16px;
  }
  &__link:hover .person__img {
    transform: scale(1.8);
  }
}
@include screen-big {
  .team__content {
    justify-content: center;
  }
  .team__img {
    margin: 0.6rem;
  }
}
@include screen-xl {
  .team {
    padding: 7rem 0;

    &__content {
      padding: 5rem 0 0;
    }
  }
}
@include screen-m {
  .team {
    padding: 4rem 0;
  }
}
@include screen-xs {
  .team__inner {
    width: 100%;
  }
  .team__img {
    margin: 0.7rem 0;
    width: 100%;
  }
  .team__content {
    padding: 3rem 0 0;
  }
}
@include screen-small-x {
  .person {
    padding: 3rem;
    top: 40%;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}
@include screen-small-s {
  .team__content {
    display: block;
    margin: 0;
  }
  .team__img {
    width: 100%;
    margin: 0.5rem 0;
  }
  .person {
    padding: 1rem;

    &__name {
      text-align: center;
      padding: 1rem 0;
      font-size: $fontSize-m;
    }
    &__info {
      padding-bottom: 2rem;
      line-height: 2;
      text-align: justify;
    }
    &__social {
      text-align: center;
    }
  }
}
